$grey-darker: #2d3134;
$grey-dark: #404951;
$grey-slightly-dark: #91a3b3;
$grey: #676D71;
$grey-light: #c7d4df;
$grey-lighter: #f1f5f8;
$grey-lightest: #f3f7f9;
$blue-light: #00b8d1;
$blue-lighter: #5bc0ce;
$blue-dark: #08a3bd;
$red-light: #ee3547;
